#demo
    .minibox,.minibox1
        // background-color: #c88faef0
        width: 180px
        height: 180px
        padding: 13px
        margin: 13px
        background-color: #d896c5
    h1
        color: #FFFF
        font-size: 19px
    .minibox1
        position: fixed
        right:  2px
    p
        font-size: 23px
        color: #282828c3
    